<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCvC2qcjaDNm8-Ryyk4CqY1LxAVuf8SBGM</string>
	<key>GCM_SENDER_ID</key>
	<string>415783699156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.darttTot</string>
	<key>PROJECT_ID</key>
	<string>dartt-step</string>
	<key>STORAGE_BUCKET</key>
	<string>dartt-step.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415783699156:ios:6e5443489c8094c7b13141</string>
</dict>
</plist>